
.start-button {
  width: 120px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;

	-moz-box-shadow:inset 0px 34px 0px -15px #CC0000;
	-webkit-box-shadow:inset 0px 34px 0px -15px #CC0000;
	box-shadow:inset 0px 34px 0px -15px #CC0000;
	background-color:#CC0000;
	border:1px solid #241d13;

	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;

	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;

  cursor:pointer;

  @extend %flexcenter;
}
.start-button:hover {
	background-color:#CC0010;
}
.start-button:active {
	position:relative;
	top:1px;
}
