.game-board__bottom-right {
    background: #094a8f;
    border-radius: 0px 0px 300px 279px / 213px 0px 300px 0px;

    &--active {
      background: lighten(#094a8f, 30%);
    }
    &:active {
      background: lighten(#094a8f, 30%);
    }
}
