.game-board__bottom-left {
    background: #cca707;
    border-bottom-left-radius: 300px;

    &--active {
      background: lighten(#cca707, 30%);
    }
    &:active {
      background: lighten(#cca707, 30%);
    }
}
