.game-board__bottom-right {
    background: #094a8f;
    border-bottom-right-radius: 300px;

    &--active {
      background: lighten(#094a8f, 30%);
    }
    &:active {
      background: lighten(#094a8f, 30%);
    }
}
